* {
    padding: 0;
    margin: 0;
}

body {
    font-family: fantasy;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    padding: 30px 0;
    text-align: center;
}

#toDoForm {
    width: 90%;
    padding: 30px 0;
}

.formControl input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


.items {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    display: flex;
    justify-content: space-between;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 35px 20px 0;
    font-weight: 700;
}

.btnLink {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.textRed {
    color: red;
}